{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href="/warmup1/{{ poll.id }}/">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</head>

<center>
<div id="login-page" class="box">
    <div id="login-message" class="message"></div>
    <center>
        <form>
            Username: <input id="login-username" type="text" name="username"><br>
            Password: <input id="login-password" type="password" name="pwd"><br>
            <input id="login-button" type="submit" value="Login">
            <input id="add-user-button" type="submit" value="Add User">
        </form>
    </center>
</div>

<div id="welcome-page" class="box">
    <div id="welcome-message" class="message"></div>
    <center>
        <form>
            <input type="submit" id="logout-button" value="Logout">
        </form>
    </center>
</div>
</center>